Limpieza_stopwords_tokens/texto_tokenizado_BERT.txt
Limpieza_stopwords_tokens/token_filtered.txt
Limpieza_stopwords_tokens/token_filtered.txt2
Limpieza_stopwords_tokens/tokenized_text.txt
Limpieza_stopwords_tokens/DatosGastro/Editores_MANUAL_DE_GASTROENTEROLOGIA_CLI.pdf
Limpieza_stopwords_tokens/texto_procesado.txt
/home/pablo/Modelo_gastro/Limpieza_stopwords_tokens/Validacion/texto_procesado.txt
