/home/pablo/Modelo_gastro/Limpieza_stopwords_tokens/texto_tokenizado_BERT.txt
/home/pablo/Modelo_gastro/Limpieza_stopwords_tokens/token_filtered.txt
/home/pablo/Modelo_gastro/Limpieza_stopwords_tokens/token_filtered.txt2
/home/pablo/Modelo_gastro/Limpieza_stopwords_tokens/tokenized_text.txt
